/* 变量定义 */
:root {
    --ui-background-color: #333;
    --ui-text-color: white;
    --overlay-background-color: rgba(0, 0, 0, 0.7);
    --button-background-color: #951504;
    --button-hover-background-color: #f12106;
    --light-flip-button-background-color: #0056b3;
    --light-flip-button-hover-background-color: #007bff;
    --dark-flip-button-background-color: #4CAF50;
    --dark-flip-button-hover-background-color: #60de65;
    --shadow-color: rgba(0, 0, 0, 0.7);
}

/* 浮动UI样式 */
#tts-floating-ui {
    font-family: Arial, sans-serif; /*设置字体*/
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: var(--ui-background-color);
    color: var(--ui-text-color);
    opacity: 0.9;
    transform: scale(1.3);
    border-radius: 5px;
    z-index: 10000;
    display: none;
    box-shadow: 0 2px 10px var(--shadow-color);
}

/* 语音合成加载提示 */
#tts-loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-background-color);
    text-align: center;
    line-height: 100px;
    z-index: 10010;
}

/* 语音合成UI容器 */
#tts-ui-container {
    display: none;
    position: relative;
    background: var(--ui-background-color);
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 语音合成UI 宽度和高度 */
#tts-flip-container {
    width: 110px;
    height: 35px;
    perspective: 1000px;
    position: relative;
}

/* 容器翻转动画 */
#tts-flip-container.front {
    transform: rotateY(0deg);
    transition: transform 0.3s ease;
}
#tts-flip-container.back {
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
}

#tts-flip-container.front #tts-front-page {
    display: flex;
}
#tts-flip-container.back #tts-front-page {
    display: none;
}
#tts-flip-container.front #tts-back-page {
    display: none;
}
#tts-flip-container.back #tts-back-page {
    display: flex;
}

/* 语音合成UI的正面和反面 */
.tts-page {
    /* height: 30px !important; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* 时间和分片字体设置 */
#tts-time-display,
#tts-segment-display {
    font-size: 12px;
    color: #333;
}

/* 正面动画 */
#tts-front-page {
    display: flex;
    align-items: center;
}

/* 反面动画 */
#tts-back-page > * {
    transform: rotateY(180deg);
    transform-origin: center;
    height: 30px !important;
}

/* 关闭按钮 */
#tts-close-btn {
    font-family: Arial, sans-serif; /*设置字体*/
    top: -15px;
    right: -15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    position: absolute;
    background-color: var(--button-background-color);
    color: var(--ui-text-color);
    box-shadow: 0 2px 10px var(--shadow-color);
}

body.light #tts-close-btn:hover,
body.dark #tts-close-btn:hover {
    background-color: var(--button-hover-background-color);
}

/* 多按钮布局 */
#tts-play-pause-btn,
#tts-download-btn,
#tts-flip-btn,
#tts-close-btn {
    font-family: Arial, sans-serif; /*设置字体*/
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--ui-text-color);
    border: none;
    cursor: pointer;
}

#tts-download-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* 下载和播放暂停按钮 */
#tts-play-pause-btn,
#tts-download-btn {
    background: #f0f0f0;
    font-size: 25px;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: relative;
}

/* 反转按钮 */
#tts-flip-btn {
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -15px;
    color: var(--ui-text-color);
    box-shadow: 0 2px 10px var(--shadow-color);
}

body.light #tts-flip-btn {
    background: var(--light-flip-button-background-color);
}

body.light #tts-flip-btn:hover {
    background: var(--light-flip-button-hover-background-color);
}

body.dark #tts-flip-btn {
    background: var(--dark-flip-button-background-color);
}

body.dark #tts-flip-btn:hover {
    background: var(--dark-flip-button-hover-background-color);
}