/* popup.css */

/*
全局样式设置，适用于所有元素
*/
* {
  box-sizing: border-box; /* 设置盒模型 */
  margin: 0; /* 清除外边距 */
  padding: 0; /* 清除内边距 */
}

body {
  width: 400px; /* 定义 body 宽度 */
  padding: 10px; /* 内部填充 */
  line-height: 1.6; /* 行间距设置为1.6倍字体高度，提高可读性 */
}

/* 按钮组样式定义 */
.button-group {
  display: flex; /* 使用弹性布局 */
  justify-content: right; /* 右对齐 */
  gap: 10px; /* 设置按钮之间间距 */
  flex-wrap: wrap; /* 允许换行 */
  margin-bottom: 10px; /* 底部外边距 */
}

/* 将 h2 标签设置为右对齐，以便将后面的按钮推到右侧 */
.button-group h2 {
  margin-right: auto;
  font-size: 1.5rem; /* 设置标题字体大小 */
}

/* 顶部按钮样式定义 */
#themeBtn,
#lang-toggle,
#settings-btn {
  padding: 5px 15px; /* 设置内边距 */
  font-size: 14px; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时指针显示 */
  transition: var(--button-transition); /* 添加过渡效果 */
  color: var(--font-color-dark); /* 字体颜色 */
}

/* 主题按钮样式根据不同主题进行切换 */
body.light #lang-toggle,
body.light #themeBtn,
body.light #settings-btn {
  background-color: var(--button-bg-light); 
  border-color: var(--border-light); 
}

body.dark #lang-toggle,
body.dark #themeBtn,
body.dark #settings-btn {
  background-color: var(--button-bg-dark); 
  border-color: var(--border-dark); 
}

/* 按钮悬停时背景颜色变化 */
body.light #lang-toggle:hover,
body.light #themeBtn:hover,
body.light #settings-btn:hover {
  background-color: var(--button-hover-light);
}

body.dark #lang-toggle:hover,
body.dark #themeBtn:hover,
body.dark #settings-btn:hover {
  background-color: var(--button-hover-dark);
}

/* 文本区域样式 */
textarea {
  width: 100%; /* 设置宽度为容器的100% */
  height: 200px; /* 高度设置 */
  margin: 10px 0; /* 上下外边距 */
  min-height: 100px; /* 最小高度限制 */
  padding: 12px; /* 内部填充 */
  border: var(--border-width) solid; /* 边框样式 */
  border-radius: var(--border-radius); /* 圆角设置 */
  resize: vertical; /* 垂直方向调整大小 */
  font-size: 1rem; /* 字体大小 */
  transition: var(--button-transition); /* 添加过渡效果 */
}

/* 不同主题下的文本区域颜色和边框颜色变化 */
body.light textarea {
  background-color: var(--bg-light);
  color: var(--fg-light);
  border-color: var(--border-light);
}
body.dark textarea {
  background-color: var(--bg-dark);
  color: var(--fg-dark);
  border-color: var(--border-dark);
}

/* 生成按钮样式 */
#generate-btn {
  width: 50px;
  height: 50px; /* 宽高设置，实现圆形按钮 */
  border-radius: var(--border-radius-circle); /* 圆角设置 */
  padding: 0;
  display: block;
  left: 50%; /* 水平居中定位 */
  font-size: 15px;
  font-weight: bold; /* 字体加粗 */
  line-height: auto;
  margin: 10px auto; /* 垂直方向居中 */
  color: var(--font-color-dark);
}

/* 不同主题下的生成按钮颜色变化 */
body.light #generate-btn {
  background-color: var(--button-advanced-bg-light);
}
body.dark #generate-btn {
  background-color: var(--button-advanced-bg-dark);
}
/* 按钮悬停时背景颜色变化 */
body.light #generate-btn:hover {
  background-color: var(--button-advanced-hover-light);
}
body.dark #generate-btn:hover {
  background-color: var(--button-advanced-hover-dark);
}

/* 版本号样式定义 */
.version {
  font-size: 12px; /* 字体大小设置 */
  color: var(--fg-light); /* 字体颜色设置 */
  text-align: center;
}
body.dark .version {
  color: var(--fg-dark);
}